<div class="page">
    <sidenav [staffCount]="staffList.length"></sidenav>
    <div class="container">
        <div class="wrap">
          <div class="row">
            <div class="col-10">
              <form>
                  <div class="form-group form-inline">
                      Full search: <input class="form-control ml-2" type="text" [formControl]="filter"/>
                  </div>
                </form>
            </div>
            <div class="col-2">
              <div class="btn btn-primary" (click)=openModal()>Create</div>
            </div>
          </div>
          <div class="table-wrap">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Group</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let staff of staffObs | async; index as i">
                  <td><ngb-highlight [result]="staff.firstName + ' ' + staff.lastName" [term]="filter.value"></ngb-highlight></td>
                  <td><ngb-highlight [result]="staff.group" [term]="filter.value"></ngb-highlight></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>  


